<h2>{{model.name}}</h2>

{{#if selectedSku}}
  <div class="selected-sku">
    <strong>Variant:</strong> {{selectedSku}}
  </div>
{{/if}}

{{#if selectionArray.length}}
<div>
  <strong>selected:</strong>

  {{#each selectionArray as |selection|}}
    <span class="selected-variant-value">{{selection.value.label}}</span>
  {{/each}}
</div>
{{/if}}

{{#each variantThemes as |theme|}}
  {{#if (has-component (concat 'variant-pickers/' theme.label))}}

    {{component (concat 'variant-pickers/' theme.label)
        variant-selected=(action 'variant-selected')
        values=theme.values
    }}

  {{else}}
    Ooops.. no picker for {{theme.label}}
  {{/if}}
{{/each}}
